.bg-default{background: #F8F6F5;}
.footer-block {padding-top: 100px}
.home header, .page-id-8 header {background: #F8F6F5;}
.name{font-family: Actay Wide;
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;}
.text-default{
	color: var(--brown-gray, #8C857F);
	font-family: Montserrat;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%;
}
.services-block {padding: 140px 0}
.services-block .top-text {margin-bottom: 10px}
.services-block .name {margin-bottom: 30px;}

.services-block .text-default{margin-bottom: 40px;}
.video-block {padding: 140px 0}
.video-block .top-text{margin-bottom: 16px}
.video-block .name {margin-bottom: 40px}
.button.link {
	display: inline-block;
	color: #fff;
	font-family: Actay Wide;
	font-size: 16px;
	font-weight: 700;
	line-height: 120%;
	padding: 16px 40px;
	border-radius: 4px;
	background: var(--brown-black, #26231f);
}
.button.link:hover {
	background: var(--brown-orange, #de541e);
}
.button.link:active {
	background: #AF4217;
}
.custom_button.button.link {
	display: inline-flex;
	padding: 16px 40px;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
.button.link {
	display: block;
	text-align: center;
	padding: 16px 10px;
}
.top-text{
	font-family: Actay Wide;
	color: #de541e;
	font-size: 16px;
	font-weight: 600;}

.expert-block {padding: 115px 0 115px 0}
.expert-block.expert-reverse .content {padding: 88px 600px 88px 0;}
.expert-block.expert-reverse .image {right: 0; left: auto}

.preview-block .button.link {
	margin-top: 74px}

.preview-block {padding: 110px 0 70px 0}
.preview-block h1{color: var(--brown-black, #26231F);
	text-align: center;
	font-family: Actay Wide;
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: 120%;
	align-self: stretch;
}
.preview-block .preview-info p {color: var(--brown-gray, #8C857F);
	text-align: center;
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%;
	align-self: stretch;}
.preview-block .preview-info {
	margin-top: 32px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;}

.services .top-text{
	font-size: 24px;
	font-weight: 700;
	line-height: 140%;}

.service {display: flex;
	padding: 30px;
	min-height: 251px;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	flex-shrink: 0;
	border-radius: 4px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.service:hover {
	background: #DE541E;
	
}
.service:hover * {
	color: #fff!important;
}
.service:hover svg path {
	stroke: #fff;
}
.swiper-container {
	overflow: hidden}
.service-title {display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 10px;
	align-self: stretch;}
.service-title .top-text {flex: 1 0 0;}

.videos {position: relative}

.videos .swiper-button-next {right: -33px;}
.videos .swiper-button-prev {left: -33px;}

.videos .video {display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;}
.videos .swiper-button-next:after, .videos .swiper-button-prev:after{display: none}
.videos .video img {height: 320px;border-radius: 4px;
	background: linear-gradient(1deg, #26231F 0.95%, rgba(38, 35, 31, 0.00) 99.29%), url(<path-to-image>), lightgray 50% / cover no-repeat;}
.videos .video p {color: var(--brown-black, #26231F);
	font-family: Actay Wide;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 140%;}

.news .one-news {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	align-self: stretch;
}
.news .one-news .news-img {
	
	flex-shrink: 0;
	border-radius: 4px;
	
	
}
.news .one-news .news-desc {
	
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
	align-self: stretch;
	
}

.news .one-news .news-time {
	display: flex;
	align-items: flex-start;
	gap: 4px;
	color: var(--brown-light, #CCC6C0);
	font-family: Montserrat;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	
}

.news .one-news .news-title {
	display: flex;
	align-items: flex-start;
	gap: 12px;
	align-self: stretch;
}
.news .one-news .news-title p {
	color: var(--brown-black, #26231F);
	font-family: Actay Wide;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 140%; /* 25.2px */
}


.news .one-news .news-info {
	
	align-self: stretch;
}
.news-block {padding-bottom: 145px}



.course-preview {padding-bottom: 40px}
.course-preview .images {
	display: grid;
	grid-template-columns: auto auto;
	gap: 10px;
	
}
.course-preview .images .grid-item:first-child {
	gap:10px
}
.course-preview .images .grid-item {
	display: grid;
	grid-template-rows: auto auto;
}
.course-preview .images .grid-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 4px;
}
.course-preview-text {margin-top: 140px}
.course-preview-text .name {margin-bottom: 30px}
.course-preview-text p {
	margin-bottom: 40px}
.course-preview .course-preview-start{display: inline-flex;
	align-items: flex-start;
	gap: 10px;
	color: var(--brown-black, #26231F);
	font-family: Montserrat;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%;
	
}
.course-preview .course-preview-start span {font-weight: 600;}
.course-preview .course-preview-outer-text {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.courses-block {padding: 140px 0 140px 0}
.courses-block .name {margin-bottom: 20px}
.courses-block .container > .text-default {margin-bottom: 50px}
.courses-block .course-block {width: 580px;margin-right: 20px}
.courses-block .list {width: calc(50vw + 50%);}
.courses-block .course-button {display: flex;
	align-items: center;
	gap: 52px;
	align-self: stretch;}



.course-preview .course-preview-start {
	margin:20px 0;
}



.courses-block .course {
	
	display: flex;
	
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	align-self: stretch;
	border-radius: 4px;
	background: #FFF;}
.courses-block .course .course-img {height: 340px;}
.courses-block .course .course-time {display: flex;
	justify-content: space-between;
	align-items: flex-start;
	align-self: stretch;
	color: var(--brown-orange, #DE541E);
	font-family: Montserrat;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%;
	margin-bottom: 20px}
.courses-block .course .course-info {    padding: 20px 30px 30px;}
.courses-block .course-title{color: #000;
	
	font-family: Actay Wide;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 140%;
	margin-bottom: 79px}

.course-block .course-link {color: var(--brown-gray, #8C857F);
	font-family: Actay Wide;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 120%; }
.format-block {}
.format-block .format-second {

}
.format-padding {
	
	
	padding-top: 140px;
	padding-bottom: 140px;
}

.format-block .format-first > * {margin-bottom: 40px}
.format-block .name {color: var(--brown-black, #26231F);
	font-family: Actay Wide;
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: 140%;}
.format-block .format-second {padding-left: 100px;
	
	position: relative;
}
.format-block .format-second::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url('../img/format-bg.png');
	background-size: cover;
	background-position: center;
	width: 100vw;
	z-index: -1;
}

.format-block .format-second .format-tegels {
	display: grid;
	gap:10px;
	grid-template-columns: repeat(2,auto);
}

.format-block .format-tegel {
	background: #fff;
	padding: 20px 24px;
	display: flex;
	height: 152px;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	flex: 1 0 0;
}
.format-block .format-tegel-title {
	color: var(--black, #272C31);
	font-family: Montserrat;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%;
}
.format-block .format-tegel-format {
	color: var(--brown-orange, #DE541E);
	font-family: Actay Wide;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 140%;
}
.previews-block .name {margin-bottom: 20px}
.previews-block .previews {margin-top: 40px}
.previews-block {padding: 140px 0 140px 0}
.previews-block .preview {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;
	padding: 20px 30px;
	background: #fff;
	border-radius: 4px;
	color: var(--brown-gray, #8C857F);
	font-family: Montserrat;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%;}
.previews-block .previews .list {overflow: hidden}
.previews-block .previews .preview-title {color: var(--brown-orange, #DE541E);
	font-family: Actay Wide;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 140%;}
.previews-block .previews p  {color:#26231F; height: 110px; overflow: hidden}
